.account-balance {
    font-size: 40px;
    margin-top: 6px;
}

.balance-label {
    color: white;
    font-size: 16px;
    margin-bottom: -8px;
}

input{
    border:none;
    -webkit-appearance: none;
}

.ether-img {
    width: auto;
    height: 25px;
    margin-top: -2px;
    margin-left: 2px;
    margin-right: 2px;
}