.tx-processing {
    color: white;
    font-size: 24px;
}

.minute-confirm {
    font-size: 12px;
    text-align: center;
}

.mean-time {
    text-align: center;
}

.fun-fact { 
    text-align: center;
}